In [ ]:
# You must use Pandas to answer the following questions:

# 1 How many people of each race are represented in this dataset? 
# 1 This should be a Pandas series with race names as the index labels. (race column)
# 2 What is the average age of men?
# 3 What is the percentage of people who have a Bachelor's degree?
# 4 What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
# 5 What percentage of people without advanced education make more than 50K?
# 6 What is the minimum number of hours a person works per week?
# 7 What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
# 8 What country has the highest percentage of people that earn >50K and what is that percentage?
# 9 Identify the most popular occupation for those who earn >50K in India.

In [1]:
import pandas as pd


def calculate_demographic_data(print_data=True):
    # Read data from file
    df = pd.read_csv('adult.data.csv')

    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = df['race'].value_counts()

    # What is the average age of men?
    average_age_men = round(df[df['sex']=='Male']['age'].mean(),1)

    # What is the percentage of people who have a Bachelor's degree?
    percentage_bachelors = round((df[df['education']=='Bachelors']['age'].count()/df['age'].count())*100,1)

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`
    higher_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
    # ~ means  !=
    lower_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
    
    
    # percentage with salary >50K
    higher_education_rich = round(higher_education[higher_education['salary']=='>50K']['age'].count()/higher_education['age'].count() * 100, 1)
    lower_education_rich = round(lower_education[lower_education['salary']=='>50K']['age'].count() / lower_education['age'].count() * 100, 1)

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = df['hours-per-week'].min()

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    people_working_min_hours_df = df.loc[(df['hours-per-week']==1)]
    
    num_min_workers = people_working_min_hours_df[people_working_min_hours_df['salary']=='>50K']['age'].count()/people_working_min_hours_df['age'].count()*100

    rich_percentage = num_min_workers

    # What country has the highest percentage of people that earn >50K?
    df_percentages_over_50k=(df[df['salary']=='>50K']['native-country'].value_counts())/(df[df['salary']=='>50K']['native-country'].value_counts()+df[df['salary']=='<=50K']['native-country'].value_counts())*100

    highest_earning_country = df_percentages_over_50k.idxmax()
    highest_earning_country_percentage = round(df_percentages_over_50k.max(),1)

    # Identify the most popular occupation for those who earn >50K in India.
    top_IN_occupation = df.loc[(df['salary']=='>50K')&(df['native-country']=='India')]['occupation'].value_counts().idxmax()

    # DO NOT MODIFY BELOW THIS LINE

    if print_data:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage':
        highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }

In [2]:
 df = pd.read_csv('adult.data.csv')

In [6]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [16]:
race_count=df['race'].value_counts()
print(race_count)

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [20]:
df[df['sex']=='Male']['age'].mean()

39.43354749885268

In [33]:
# What is the percentage of people who have a Bachelor's degree?
(df[df['education']=='Bachelors']['age'].count()/df['age'].count())*100

16.44605509658794

In [42]:
df['education'].value_counts()

HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64

In [64]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?
# with and without `Bachelors`, `Masters`, or `Doctorate`
# df.loc[(df['Salary_in_1000']>=100) & (df['Age']< 60) & (df['FT_Team'].str.startswith('S')),['Name','FT_Team']]
high_education_df=df.loc[((df['education']=='Bachelors')|(df['education']=='Masters')|(df['education']=='Doctorate'))]
low_education_df=df.loc[((df['education']!='Bachelors')|(df['education']!='Masters')|(df['education']!='Doctorate'))]
higher_education = (high_education_df[high_education_df['salary']=='>50K']['age'].count()/df['age'].count())*100
print(higher_education)
lower_education = (low_education_df[low_education_df['salary']=='>50K']['age'].count()/df['age'].count())*100
print(lower_education)

10.706059396210192
24.080955744602438

In [50]:
higher_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
# ~ means  !=
lower_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

lower_education
higher_education

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

In [59]:
higher_education_rich = round(higher_education[higher_education['salary']=='>50K']['age'].count()/higher_education['age'].count() * 100, 1)
lower_education_rich = round(lower_education[lower_education['salary']=='>50K']['age'].count() / lower_education['age'].count() * 100, 1)
higher_education_rich
lower_education_rich

17.4

In [56]:
higher_education[higher_education['salary']=='>50K']['age'].count()/higher_education['age'].count()
lower_education[lower_education['salary']=='>50L']

0.46535843011613937

In [44]:
df['salary'].unique()

array(['<=50K', '>50K'], dtype=object)

In [66]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = None
df['hours-per-week'].min()

1

In [76]:
# 7 What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
people_working_min_hours_df = df.loc[(df['hours-per-week']==1)]
people_working_min_hours_df[people_working_min_hours_df['salary']=='>50K']['age'].count()/people_working_min_hours_df['age'].count()*100

10.0

In [13]:
# 8 What country has the highest percentage of people that earn >50K and what is that percentage?
# we need to calculate people that earn >50K percentage, then get the max value

df_percentages_over_50k=(df[df['salary']=='>50K']['native-country'].value_counts())/(df[df['salary']=='>50K']['native-country'].value_counts()+df[df['salary']=='<=50K']['native-country'].value_counts())*100

In [20]:
df_percentages_over_50k.idxmax()

'Iran'

In [23]:
round(df_percentages_over_50k.max(),1)

41.9

In [30]:
# 9 Identify the most popular occupation for those who earn >50K in India.
df.loc[(df['salary']=='>50K')&(df['native-country']=='India')]['occupation'].value_counts().idxmax()

'Prof-specialty'